<% if @pictures.empty? %>
    <h2>Oops...Looks like there are no pictures</h2>
<% else %>

<li class = "filter_title"><%first = @pictures.first%>Category
<%=first[:category]%></li>

<%= render 'filter' %>

<% end %>